body{
    background-color: blanchedalmond ;
}
header{
    background-color: yellow;
    text-align: center;
}
footer{
    background-color: yellow;
}
h1{
    font-size: 50px;
}
#naslov{
    font: bold;
}
#komentar_naslov{
    text-align: center;
}